EXPO_PUBLIC_SUPABASE_URL=https://vpjqvrbiwljgozvaepqb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwanF2cmJpd2xqZ296dmFlcHFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NzU5NDksImV4cCI6MjA5MTI1MTk0OX0.E1Yv6ZYDCjbWIBF8ZG7xUnnYm2qX0kBWVrx6_PFjcE0
EXPO_PUBLIC_YOUTUBE_API_KEY=AIzaSyA2B-ujhdWzdu8U9OvbR1TmcucZKc9SaiE
YOUTUBE_API_KEY=AIzaSyA2B-ujhdWzdu8U9OvbR1TmcucZKc9SaiE